//- 
    =====================================================================
    * Features Partial
    *
    * Halaman Features
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.features
    #features.carousel.slide
        ol.carousel-indicators
            li.active(data-target='#features', data-slide-to='0')
                img(src='#{img_dir}/f1.png', alt='', data-toggle='tooltip', title='Theme Settings')
            li(data-target='#features', data-slide-to='1')
                img(src='#{img_dir}/f2.png', alt='', data-toggle='tooltip', title='Unlimited Colors')
            li(data-target='#features', data-slide-to='2')
                img(src='#{img_dir}/f3.png', alt='', data-toggle='tooltip', title='Design Settings')
            li(data-target='#features', data-slide-to='3')
                img(src='#{img_dir}/f4.png', alt='', data-toggle='tooltip', title='Content Layout System')
            li(data-target='#features', data-slide-to='4')
                img(src='#{img_dir}/f5.png', alt='', data-toggle='tooltip', title='Featured Header')
            li(data-target='#features', data-slide-to='5')
                img(src='#{img_dir}/f6.png', alt='', data-toggle='tooltip', title='Unlimited Sidebars')
            li(data-target='#features', data-slide-to='6')
                img(src='#{img_dir}/f7.png', alt='', data-toggle='tooltip', title='Flexible Ecommerce')
            li(data-target='#features', data-slide-to='7')
                img(src='#{img_dir}/f8.png', alt='', data-toggle='tooltip', title='Shortcodes Buttons')
            li(data-target='#features', data-slide-to='8')
                img(src='#{img_dir}/f9.png', alt='', data-toggle='tooltip', title='Google Fonts')
            li(data-target='#features', data-slide-to='9')
                img(src='#{img_dir}/f10.png', alt='', data-toggle='tooltip', title='Custom Branding')
    
        // CAROUSEL FEATURES
        .carousel-inner
            .active.item
                h2
                    | The All in one theme settings
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide1.png')
            .item
                h2
                    | Unlimited Colors
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide2.png')
            .item
                h2
                    | Design Settings
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide3.png')
            .item
                h2
                    | Content Layout System
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide4.png')
            .item
                h2
                    | Featured Header
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide5.png')
            .item
                h2
                    | Unlimited Sidebars
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide6.png')
            .item
                h2
                    | Flexible Ecommerce
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide7.png')
            .item
                h2
                    | Shortcodes Buttons
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide8.png')
            .item
                h2
                    | Google Fonts
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide9.png')
            .item
                h2
                    | Custom Branding
                p.text-center
                    | Consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at,
                    | lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci
                    | eros, dictum quis lorem non.
                img(src='#{img_dir}/slide10.png')
        // CAROUSEL NAV 
        a.carousel-control.left(href='#features', data-slide='prev')
        a.carousel-control.right(href='#features', data-slide='next')