//- 
    =====================================================================
    * marketing Partial
    *
    * Halaman marketing
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.container.marketing
    .text-center
        h2
            | Top Notch Support
        p.sub-paragraph
            | Everyone on our Customer Care team is an experienced WordPress developer and user. We give you the best support by real people.
    .row-fluid
        .span4
            .icon-support
                img(src='#{img_dir}/m1.png')
            h3
                | Day to day support
            p
                | 5 days a week support. Lorem ipsum dolor sit amet, consectetur adipiscing
                | elit. Quisque lacinia, tortor eget semper venenatis, enim nulla suscipit
                | arcu, ac iaculis turpis purus vitae tellus. our timezone is
                strong &nbsp;GMT+7
        .span4
            .icon-ticket
                img(src='#{img_dir}/m2.png')
            h3
                | Ticket System
            p
                | Nam pellentesque magna lectus, id vulputate mi accumsan ac. Suspendisse
                | scelerisque felis ipsum, eget consequat nisl eleifend a. Pellentesque lobortis
                | arcu turpis, sed scelerisque magna accumsan vitae.
        .span4
            .icon-forum
                img(src='#{img_dir}/m3.png')
            h3
                | Friendly Forums
            p
                | Sed sit amet mi mi. Nam sagittis commodo nibh vel bibendum. Pellentesque
                | faucibus risus lacus, in imperdiet lorem sollicitudin condimentum. Nulla
                | nulla erat, ullamcorper nec volutpat vitae, gravida vel lorem.
    .row-fluid
        .span4
            .icon-kb
                img(src='#{img_dir}/m4.png')
            h3
                | Knowledgebase
            p
                | Praesent congue id quam sit amet pretium. Donec et tellus urna. Nullam
                | suscipit est orci, vel euismod diam ultrices quis. Mauris sed dignissim
                | elit. Phasellus erat metus, tincidunt dictum condimentum in, consectetur
                | nec sem.
        .span4
            .icon-doc
                img(src='#{img_dir}/m5.png')
            h3
                | Complete Documentation
            p
                | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                | cubilia Curae; Phasellus posuere semper nisi quis sodales. Morbi non scelerisque
                | nisi, ut ullamcorper tellus. Phasellus nisi nisl, porta eu dignissim nec.
        .span4.watch
            p
                | We don’t want to give you any false promise. Watch the video tutorials
                | first to know exactly what you can expect from this theme! Is it easy to
                | use for you?
            p
                a.btn.btn-info
                    i.icon-film.icon-white
                    | Watch on Youtube
    p.text-center.cta-label
        | What are you waiting for?
    p.text-center
        a.btn.btn-cta(href='#') Get Started Now!