//- 
    =====================================================================
    * Showcases Partial
    *
    * Halaman Showcases
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.showcases
    .container
        .text-center
            p.btn-more
                a(href='#') ...and a lot more features
                a(href='#')
                    i.icon-film
                    | watch our tutorial videos on youtube
            h2
                | Theme Showcases
            p.sub-paragraph
                | Primathemes is full feature, consectetur adipiscing elit. Mauris ac mauris
                | semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies
                | euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus.
// SHOWCASE ITEMS
.showcase-items
    .container
        .row-fluid.showcase
            .span4
                a(href='#')
                    img(src='#{img_dir}/s1.jpg')
            .span4
                a(href='#')
                    img(src='#{img_dir}/s1.jpg')
            .span4
                a(href='#')
                    img(src='#{img_dir}/s1.jpg')
        .row-fluid.showcase
            .span4
                a(href='#')
                    img(src='#{img_dir}/s1.jpg')
            .span4
                a(href='#')
                    img(src='#{img_dir}/s1.jpg')
            .span4
                a(href='#')
                    img(src='#{img_dir}/s1.jpg')