//- 
    =====================================================================
    * Testimoni Partial
    *
    * Halaman Testimoni
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.testimoni
    .container
        .row-fluid
            .span12
                #testimoni.carousel.slide
                    ol.carousel-indicators
                        li.active(data-target='#testimoni', data-slide-to='0')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='1')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='2')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='3')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='4')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='5')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='6')
                            img(src='#{img_dir}/avatar.jpg', alt='')
                        li(data-target='#testimoni', data-slide-to='7')
                            img(src='#{img_dir}/avatar.jpg', alt='')

                    // CAROUSEL ITEM TESTIMONI
                    .carousel-inner
                        .active.item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe
                        .item
                            blockquote.
                                Primathemes is cool, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non, pretium vestibulum risus curabitur at nisi a arcu.
                            small
                                | Jhon Doe